@font-face {
	font-family: 'ubuntu_medium';
	src: url('../fonts/UbuntuMedium.eot');
    src: url('../fonts/UbuntuMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UbuntuMedium.woff') format('woff'),
         url('../fonts/UbuntuMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'ubuntu_condensed';
    src: url('../fonts/ubuntu_condensed-webfont.eot');
    src: url('../fonts/ubuntu_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu_condensed-webfont.woff') format('woff'),
         url('../fonts/ubuntu_condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}