header {
  background-color: #FFF;
  .logo {
    margin: 33px 0 33px 0;
  }
  .contacts {
    float: right;
    margin-top: 48px;
    list-style-type: none;
  }
  .contacts__item {
    display: inline-block;
    margin-left: 15px;
  }
  .contacts__item a{
    display: block;
    background-image: url(../img/contacts.png);
  }
  .contacts__item--fb a{
    background-position: 0 0;
    width: 8px;
    height: 16px;
    &:hover {
      background-position: 0 -24px;
    }
  }
  .contacts__item--twitter a{
    background-position: -15px 0;
    width: 17px;
    height: 13px;
    &:hover{
      background-position: -15px -26px;
    }
  }
  .contacts__item--rss a{
    background-position: -46px 0;
    width: 15px;
    height: 15px;
    &:hover{
    background-position: -44px -27px;
  }
  }
  .contacts__item--linkedin a{
    background-position: -73px 0;
    width: 16px;
    height: 15px;
    &:hover{
    background-position: -72px -24px;
  }
  }
  .contacts__item--skype a{
    background-position: -101px 0;
    width: 16px;
    height: 16px;
    &:hover{
    background-position: -103px -22px;
  }
  }
  .navigation {
    height: 56px;
    background: #2a2d32;
    position: relative;
  }
  .menu-top {
    list-style-type: none;
    padding-right: 260px;
    font: 14px/14px 'ubuntu_condensed', Arial, sans-serif;
    text-transform: uppercase;
  }
  .menu-top__item {
    display: inline-block;
    border-right: 1px solid #000;
    & a{
      display: inline-block;
      height: 56px;
      line-height: 56px;
      padding: 0 36px;
      color: #fff;
      text-decoration: none;
      vertical-align: middle;
      &:hover {
        color: $colorYellowLink;
        text-decoration: none;
      }
      &--active a{
        background: $colorBlueLink;
      }
    }
  }

  .search {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 241px;
    height: 40px;
    box-sizing: border-box;
    background-color: #35383c;
    border: 1px solid #000;
  }
  .search__input {
    background: none;
    border: 0;
    width: 185px;
    margin: 13px 0 0 15px;
    font: 12px Arial, sans-serif;
    color: #626466;
    outline: none;
  }
  .search__button {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    border: 0;
    background: url(../img/search.png) center no-repeat;
    cursor: pointer;
  }
}

.sections {
  margin-top: 74px;
  margin-bottom: 84px;
  display: table;
  width: 100%;
}
.sections__item {
  list-style-type: none;
  display: table-cell;
  width: 33%;
  padding: 49px 30px 0 119px;
  position: relative;
}
.sections__item--power {
  background: url(../img/power_bg.png) 119px 0 no-repeat;
}
.sections__item--tech {
  background: url(../img/new_tech_bg.png) 119px 0 no-repeat;
}
.sections__item--support {
  background: url(../img/support_bg.png) 119px 0 no-repeat;
}
.sections__number {
  position: absolute;
  left: 0;
  top: -17px;
  font-size: 90px;
  line-height: 90px;
  font-weight: bold;
  color: #e9e9ea;
}
.sections__title {
  font-size: 20px;
  font-weight: bold;
  color: #2a2b2e;
}
.sections__text {
  margin-top: 23px;
  @include second-font;
}
.sections__more {
  display: inline-block;
  margin-top: 19px;
  padding-right: 20px;
  font-size: 13px;
  color: #2a2b2e;
  text-decoration: none;
  background: url(../img/arr_more.png) 0 0 no-repeat;
  background-position: right 4px;
  font-weight: bold;
  &:hover{
    font-size: 13px;
    color: $colorBlueLink;
    text-decoration: none;
    background-position: right -34px;
  }
}